/* body {
    background-color: #011526;
    color: white;
} */


.loader{
    position: fixed;
    top: 50%;
    left: 50%;  
    border: 15px solid #f3f3f3;
    border-top: 15px solid #1B72BF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    z-index: 99;
    visibility: hidden;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

.show{
    visibility: visible;
}


#wind-bearing-img{
    width: 20px;
    height: 20px;
}

.northNorthEast{
    transform: rotate(22.5deg);
}

.northEast{
    transform: rotate(45deg);
}

.eastNorthEast{
    transform: rotate(67.5deg);
}

.east{
    transform: rotate(90deg);
}

.eastSouthEast{
    transform: rotate(112.5deg);
}

.southEast{
    transform: rotate(135deg);
}

.southSouthEast{
    transform: rotate(168.75deg);
}

.south{
    transform: rotate(191.25deg);
}